body {
    background-color: #dbeeff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2, h3, h4 {
    text-align: center;
}

.pregunta {
    background: #eef5ff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.incorrecta {
    border: 2px solid red;
}
